@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



.panel-heading {
  text-align: center;
  font-size: 3em;
}




.table td {
    font-weight: normal;
    font-size: 1.25em;
    /*-webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;*/
}



.table tr:hover {
  background-color: #FAED26;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
/*  transform: translate3d(6px, -6px, 0);*/
  
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.table td:nth-child(4),
.table th:nth-child(4) { display: none; }
}